In [69]:
import os 
import numpy as np
import pandas as pd

In [70]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [71]:
df = pd.read_csv("Yeni klasör/hepsiemlak.csv")

In [72]:
df.head()

,img-link href,photo-count,list-view-price,list-view-date,list-view-title,left,celly,celly 2,celly 3,celly 4,...,he-lazy-image src,listing-card--owner-info__firm-name,eids-badge__description,eids-badge__label,he-lazy-image src 2,he-lazy-image src 3,img-wrp href 2,he-lazy-image src 4,listing-card--owner-info__name,list-view-header
0,https://www.hepsiemlak.com/istanbul-sariyer-ru...,24,50.0,04-03-2025,Sarıyer Rumelikavağı Mahallesinde Deniz Manzar...,Kiralık Daire,4 +\n 1,160 m²,49\n Yaşında,3. Kat,...,https://hecdnnw.hemlak.com/mncropresize/77/67/...,Remax Ahenk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.hepsiemlak.com/istanbul-besiktas-l...,37,60.0,04-03-2025,Zorlu Avm Yakını Birkent Sitesinde Kiralık 3+1...,Kiralık Daire,3 +\n 1,110 m²,40\n Yaşında,3. Kat,...,https://hecdn01.hemlak.com/img/eids-logo-mini.png,Art Emlak / Real Estate,Elektronik İlan Doğrulama Sistemi yetki doğrul...,EİDS onaylı,https://hecdnnw.hemlak.com/mncropresize/77/67/...,NaN,NaN,NaN,NaN,NaN
2,https://www.hepsiemlak.com/istanbul-sisli-gulb...,9,22.0,04-03-2025,Yeni Tadilatli Tertemiz Arakat,Kiralık Daire,2 +\n 1,90 m²,19\n Yaşında,3. Kat,...,https://hecdn01.hemlak.com/img/eids-logo-mini.png,Osman Selim Gökçe Gayrimenkul,Elektronik İlan Doğrulama Sistemi yetki doğrul...,EİDS onaylı,https://www.hepsiemlak.com/img/loadings/noImag...,NaN,NaN,NaN,NaN,NaN
3,https://www.hepsiemlak.com/istanbul-kartal-cev...,26,35.0,01-03-2025,Dap Adam Kule Deniz Manzaralı Eşyalı 1+1 Marma...,Kiralık Daire,1 +\n 1,85 m²,10\n Yaşında,12. Kat,...,https://hecdn01.hemlak.com/img/eids-logo-mini.png,Stil Gayrimenkul Danışmanlık,Elektronik İlan Doğrulama Sistemi yetki doğrul...,EİDS onaylı,https://hecdn01.hemlak.com/mncropresize/280/21...,https://hecdnnw.hemlak.com/mncropresize/77/67/...,NaN,NaN,NaN,NaN
4,https://www.hepsiemlak.com/istanbul-sisli-esen...,30,285.0,04-03-2025,A-Z Emlak Soyak Soho ' Da Boğaz Manzaralı 3+1 ...,Kiralık Daire,3 +\n 1,200 m²,14\n Yaşında,7. Kat,...,https://hecdn01.hemlak.com/img/eids-logo-mini.png,A-z Emlak,Elektronik İlan Doğrulama Sistemi yetki doğrul...,EİDS onaylı,https://hecdn01.hemlak.com/mncropresize/280/21...,https://hecdnnw.hemlak.com/mncropresize/77/67/...,https://www.hepsiemlak.com/emlak-ofisi/a-z-eml...,https://hecdnnw.hemlak.com/mncropresize/77/67/...,Haydar\n Otman,NaN

In [73]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   img-link href                        48 non-null     object
 1   photo-count                          48 non-null     int64
 2   list-view-price                      48 non-null     float64
 3   list-view-date                       48 non-null     object
 4   list-view-title                      24 non-null     object
 5   left                                 48 non-null     object
 6   celly                                48 non-null     object
 7   celly 2                              48 non-null     object
 8   celly 3                              48 non-null     object
 9   celly 4                              42 non-null     object
 10  list-view-location                   48 non-null     object
 11  img-wrp href                         38 non-null     object
 12  he-lazy-image src                    37 non-null     object
 13  listing-card--owner-info__firm-name  38 non-null     object
 14  eids-badge__description              36 non-null     object
 15  eids-badge__label                    36 non-null     object
 16  he-lazy-image src 2                  45 non-null     object
 17  he-lazy-image src 3                  34 non-null     object
 18  img-wrp href 2                       12 non-null     object
 19  he-lazy-image src 4                  12 non-null     object
 20  listing-card--owner-info__name       14 non-null     object
 21  list-view-header                     24 non-null     object
dtypes: float64(1), int64(1), object(20)
memory usage: 8.4+ KB
None

In [74]:
files = os.listdir('Yeni klasör')
df = pd.concat([pd.read_csv(f"Yeni klasör/{file}") for file in files],ignore_index=True)

In [75]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1942 entries, 0 to 1941
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   img-link href                        1942 non-null   object
 1   photo-count                          1942 non-null   int64
 2   list-view-price                      1942 non-null   object
 3   list-view-date                       1942 non-null   object
 4   left                                 1051 non-null   object
 5   celly                                1942 non-null   object
 6   celly 2                              1942 non-null   object
 7   celly 3                              1942 non-null   object
 8   celly 4                              1912 non-null   object
 9   list-view-location                   1942 non-null   object
 10  img-wrp href                         1035 non-null   object
 11  he-lazy-image src                    1430 non-null   object
 12  listing-card--owner-info__firm-name  1035 non-null   object
 13  eids-badge__description              1408 non-null   object
 14  eids-badge__label                    1408 non-null   object
 15  he-lazy-image src 2                  1819 non-null   object
 16  he-lazy-image src 3                  917 non-null    object
 17  list-view-header                     1870 non-null   object
 18  list-view-title                      24 non-null     object
 19  img-wrp href 2                       12 non-null     object
 20  he-lazy-image src 4                  12 non-null     object
 21  listing-card--owner-info__name       14 non-null     object
dtypes: int64(1), object(21)
memory usage: 333.9+ KB
None

In [76]:
df.head()

,img-link href,photo-count,list-view-price,list-view-date,left,celly,celly 2,celly 3,celly 4,list-view-location,...,listing-card--owner-info__firm-name,eids-badge__description,eids-badge__label,he-lazy-image src 2,he-lazy-image src 3,list-view-header,list-view-title,img-wrp href 2,he-lazy-image src 4,listing-card--owner-info__name
0,https://www.hepsiemlak.com/istanbul-sariyer-ru...,24,50.0,04-03-2025,Kiralık Daire,4 +\n 1,160 m²,49\n Yaşında,3. Kat,İstanbul / Sarıyer / Rumeli Kavağı Mah.,...,Remax Ahenk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.hepsiemlak.com/istanbul-besiktas-l...,37,60.0,04-03-2025,Kiralık Daire,3 +\n 1,110 m²,40\n Yaşında,3. Kat,İstanbul / Beşiktaş / Levazım Mah.,...,Art Emlak / Real Estate,Elektronik İlan Doğrulama Sistemi yetki doğrul...,EİDS onaylı,https://hecdnnw.hemlak.com/mncropresize/77/67/...,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.hepsiemlak.com/istanbul-sisli-gulb...,9,22.0,04-03-2025,Kiralık Daire,2 +\n 1,90 m²,19\n Yaşında,3. Kat,İstanbul / Şişli / Gülbahar Mah.,...,Osman Selim Gökçe Gayrimenkul,Elektronik İlan Doğrulama Sistemi yetki doğrul...,EİDS onaylı,https://www.hepsiemlak.com/img/loadings/noImag...,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.hepsiemlak.com/istanbul-kartal-cev...,26,35.0,01-03-2025,Kiralık Daire,1 +\n 1,85 m²,10\n Yaşında,12. Kat,İstanbul / Kartal / Cevizli Mah.,...,Stil Gayrimenkul Danışmanlık,Elektronik İlan Doğrulama Sistemi yetki doğrul...,EİDS onaylı,https://hecdn01.hemlak.com/mncropresize/280/21...,https://hecdnnw.hemlak.com/mncropresize/77/67/...,NaN,NaN,NaN,NaN,NaN
4,https://www.hepsiemlak.com/istanbul-sisli-esen...,30,285.0,04-03-2025,Kiralık Daire,3 +\n 1,200 m²,14\n Yaşında,7. Kat,İstanbul / Şişli / Esentepe Mah.,...,A-z Emlak,Elektronik İlan Doğrulama Sistemi yetki doğrul...,EİDS onaylı,https://hecdn01.hemlak.com/mncropresize/280/21...,https://hecdnnw.hemlak.com/mncropresize/77/67/...,NaN,NaN,NaN,NaN,NaN

In [77]:
help(df.drop)

Help on method drop in module pandas.core.frame:

drop(labels: 'IndexLabel | None' = None, *, axis: 'Axis' = 0, index: 'IndexLabel | None' = None, columns: 'IndexLabel | None' = None, level: 'Level | None' = None, inplace: 'bool' = False, errors: 'IgnoreRaise' = 'raise') -> 'DataFrame | None' method of pandas.core.frame.DataFrame instance
    Drop specified labels from rows or columns.

    Remove rows or columns by specifying label names and corresponding
    axis, or by directly specifying index or column names. When using a
    multi-index, labels on different levels can be removed by specifying
    the level. See the :ref:`user guide <advanced.shown_levels>`
    for more information about the now unused levels.

    Parameters
    ----------
    labels : single label or list-like
        Index or column labels to drop. A tuple will be used as a single
        label and not treated as a list-like.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Whether to drop labels from the index (0 or 'index') or
        columns (1 or 'columns').
    index : single label or list-like
        Alternative to specifying axis (``labels, axis=0``
        is equivalent to ``index=labels``).
    columns : single label or list-like
        Alternative to specifying axis (``labels, axis=1``
        is equivalent to ``columns=labels``).
    level : int or level name, optional
        For MultiIndex, level from which the labels will be removed.
    inplace : bool, default False
        If False, return a copy. Otherwise, do operation
        in place and return None.
    errors : {'ignore', 'raise'}, default 'raise'
        If 'ignore', suppress error and only existing labels are
        dropped.

    Returns
    -------
    DataFrame or None
        Returns DataFrame or None DataFrame with the specified
        index or column labels removed or None if inplace=True.

    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis.

    See Also
    --------
    DataFrame.loc : Label-location based indexer for selection by label.
    DataFrame.dropna : Return DataFrame with labels on given axis omitted
        where (all or any) data are missing.
    DataFrame.drop_duplicates : Return DataFrame with duplicate rows
        removed, optionally only considering certain columns.
    Series.drop : Return Series with specified index labels removed.

    Examples
    --------
    >>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
    ...                   columns=['A', 'B', 'C', 'D'])
    >>> df
       A  B   C   D
    0  0  1   2   3
    1  4  5   6   7
    2  8  9  10  11

    Drop columns

    >>> df.drop(['B', 'C'], axis=1)
       A   D
    0  0   3
    1  4   7
    2  8  11

    >>> df.drop(columns=['B', 'C'])
       A   D
    0  0   3
    1  4   7
    2  8  11

    Drop a row by index

    >>> df.drop([0, 1])
       A  B   C   D
    2  8  9  10  11

    Drop columns and/or rows of MultiIndex DataFrame

    >>> midx = pd.MultiIndex(levels=[['llama', 'cow', 'falcon'],
    ...                              ['speed', 'weight', 'length']],
    ...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
    ...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
    >>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
    ...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
    ...                         [250, 150], [1.5, 0.8], [320, 250],
    ...                         [1, 0.8], [0.3, 0.2]])
    >>> df
                    big     small
    llama   speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            weight  1.0     0.8
            length  0.3     0.2

    Drop a specific index combination from the MultiIndex
    DataFrame, i.e., drop the combination ``'falcon'`` and
    ``'weight'``, which deletes only the corresponding row

    >>> df.drop(index=('falcon', 'weight'))
                    big     small
    llama   speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            length  0.3     0.2

    >>> df.drop(index='cow', columns='small')
                    big
    llama   speed   45.0
            weight  200.0
            length  1.5
    falcon  speed   320.0
            weight  1.0
            length  0.3

    >>> df.drop(index='length', level=1)
                    big     small
    llama   speed   45.0    30.0
            weight  200.0   100.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
    falcon  speed   320.0   250.0
            weight  1.0     0.8

In [78]:
df.columns

Index(['img-link href', 'photo-count', 'list-view-price', 'list-view-date',
       'left', 'celly', 'celly 2', 'celly 3', 'celly 4', 'list-view-location',
       'img-wrp href', 'he-lazy-image src',
       'listing-card--owner-info__firm-name', 'eids-badge__description',
       'eids-badge__label', 'he-lazy-image src 2', 'he-lazy-image src 3',
       'list-view-header', 'list-view-title', 'img-wrp href 2',
       'he-lazy-image src 4', 'listing-card--owner-info__name'],
      dtype='object')

In [79]:
df.head()

,img-link href,photo-count,list-view-price,list-view-date,left,celly,celly 2,celly 3,celly 4,list-view-location,...,listing-card--owner-info__firm-name,eids-badge__description,eids-badge__label,he-lazy-image src 2,he-lazy-image src 3,list-view-header,list-view-title,img-wrp href 2,he-lazy-image src 4,listing-card--owner-info__name
0,https://www.hepsiemlak.com/istanbul-sariyer-ru...,24,50.0,04-03-2025,Kiralık Daire,4 +\n 1,160 m²,49\n Yaşında,3. Kat,İstanbul / Sarıyer / Rumeli Kavağı Mah.,...,Remax Ahenk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.hepsiemlak.com/istanbul-besiktas-l...,37,60.0,04-03-2025,Kiralık Daire,3 +\n 1,110 m²,40\n Yaşında,3. Kat,İstanbul / Beşiktaş / Levazım Mah.,...,Art Emlak / Real Estate,Elektronik İlan Doğrulama Sistemi yetki doğrul...,EİDS onaylı,https://hecdnnw.hemlak.com/mncropresize/77/67/...,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.hepsiemlak.com/istanbul-sisli-gulb...,9,22.0,04-03-2025,Kiralık Daire,2 +\n 1,90 m²,19\n Yaşında,3. Kat,İstanbul / Şişli / Gülbahar Mah.,...,Osman Selim Gökçe Gayrimenkul,Elektronik İlan Doğrulama Sistemi yetki doğrul...,EİDS onaylı,https://www.hepsiemlak.com/img/loadings/noImag...,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.hepsiemlak.com/istanbul-kartal-cev...,26,35.0,01-03-2025,Kiralık Daire,1 +\n 1,85 m²,10\n Yaşında,12. Kat,İstanbul / Kartal / Cevizli Mah.,...,Stil Gayrimenkul Danışmanlık,Elektronik İlan Doğrulama Sistemi yetki doğrul...,EİDS onaylı,https://hecdn01.hemlak.com/mncropresize/280/21...,https://hecdnnw.hemlak.com/mncropresize/77/67/...,NaN,NaN,NaN,NaN,NaN
4,https://www.hepsiemlak.com/istanbul-sisli-esen...,30,285.0,04-03-2025,Kiralık Daire,3 +\n 1,200 m²,14\n Yaşında,7. Kat,İstanbul / Şişli / Esentepe Mah.,...,A-z Emlak,Elektronik İlan Doğrulama Sistemi yetki doğrul...,EİDS onaylı,https://hecdn01.hemlak.com/mncropresize/280/21...,https://hecdnnw.hemlak.com/mncropresize/77/67/...,NaN,NaN,NaN,NaN,NaN

In [80]:
try:
    df.drop(['list-view-date','left','listing-card--owner-info__firm-name','eids-badge__description','eids-badge__label','he-lazy-image src 2','he-lazy-image src 3','list-view-header','list-view-title','img-wrp href 2','he-lazy-image src 4','listing-card--owner-info__name'],axis=1,inplace=True)
except Exception as e:
    print("Bir hata oluştu {e}")

In [81]:
df.head()

,img-link href,photo-count,list-view-price,celly,celly 2,celly 3,celly 4,list-view-location,img-wrp href,he-lazy-image src
0,https://www.hepsiemlak.com/istanbul-sariyer-ru...,24,50.0,4 +\n 1,160 m²,49\n Yaşında,3. Kat,İstanbul / Sarıyer / Rumeli Kavağı Mah.,https://www.hepsiemlak.com/emlak-ofisi/remax-a...,https://hecdnnw.hemlak.com/mncropresize/77/67/...
1,https://www.hepsiemlak.com/istanbul-besiktas-l...,37,60.0,3 +\n 1,110 m²,40\n Yaşında,3. Kat,İstanbul / Beşiktaş / Levazım Mah.,https://www.hepsiemlak.com/emlak-ofisi/art-eml...,https://hecdn01.hemlak.com/img/eids-logo-mini.png
2,https://www.hepsiemlak.com/istanbul-sisli-gulb...,9,22.0,2 +\n 1,90 m²,19\n Yaşında,3. Kat,İstanbul / Şişli / Gülbahar Mah.,https://www.hepsiemlak.com/emlak-ofisi/osman-s...,https://hecdn01.hemlak.com/img/eids-logo-mini.png
3,https://www.hepsiemlak.com/istanbul-kartal-cev...,26,35.0,1 +\n 1,85 m²,10\n Yaşında,12. Kat,İstanbul / Kartal / Cevizli Mah.,https://www.hepsiemlak.com/emlak-ofisi/stil-ga...,https://hecdn01.hemlak.com/img/eids-logo-mini.png
4,https://www.hepsiemlak.com/istanbul-sisli-esen...,30,285.0,3 +\n 1,200 m²,14\n Yaşında,7. Kat,İstanbul / Şişli / Esentepe Mah.,https://www.hepsiemlak.com/emlak-ofisi/a-z-eml...,https://hecdn01.hemlak.com/img/eids-logo-mini.png

In [82]:
df.drop(['img-wrp href','photo-count','he-lazy-image src'],axis=1,inplace=True)

In [83]:
df.head()

,img-link href,list-view-price,celly,celly 2,celly 3,celly 4,list-view-location
0,https://www.hepsiemlak.com/istanbul-sariyer-ru...,50.0,4 +\n 1,160 m²,49\n Yaşında,3. Kat,İstanbul / Sarıyer / Rumeli Kavağı Mah.
1,https://www.hepsiemlak.com/istanbul-besiktas-l...,60.0,3 +\n 1,110 m²,40\n Yaşında,3. Kat,İstanbul / Beşiktaş / Levazım Mah.
2,https://www.hepsiemlak.com/istanbul-sisli-gulb...,22.0,2 +\n 1,90 m²,19\n Yaşında,3. Kat,İstanbul / Şişli / Gülbahar Mah.
3,https://www.hepsiemlak.com/istanbul-kartal-cev...,35.0,1 +\n 1,85 m²,10\n Yaşında,12. Kat,İstanbul / Kartal / Cevizli Mah.
4,https://www.hepsiemlak.com/istanbul-sisli-esen...,285.0,3 +\n 1,200 m²,14\n Yaşında,7. Kat,İstanbul / Şişli / Esentepe Mah.

In [84]:
df.drop(['img-link href'],axis=1,inplace=True)

In [85]:
df.head()

,list-view-price,celly,celly 2,celly 3,celly 4,list-view-location
0,50.0,4 +\n 1,160 m²,49\n Yaşında,3. Kat,İstanbul / Sarıyer / Rumeli Kavağı Mah.
1,60.0,3 +\n 1,110 m²,40\n Yaşında,3. Kat,İstanbul / Beşiktaş / Levazım Mah.
2,22.0,2 +\n 1,90 m²,19\n Yaşında,3. Kat,İstanbul / Şişli / Gülbahar Mah.
3,35.0,1 +\n 1,85 m²,10\n Yaşında,12. Kat,İstanbul / Kartal / Cevizli Mah.
4,285.0,3 +\n 1,200 m²,14\n Yaşında,7. Kat,İstanbul / Şişli / Esentepe Mah.

In [86]:
df['location'] = df['list-view-location'].apply(lambda x: x.split('/')[0])
df['city'] = df['location']
df['city'].head()

0    İstanbul
1    İstanbul
2    İstanbul
3    İstanbul
4    İstanbul
Name: city, dtype: object

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1942 entries, 0 to 1941
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   list-view-price     1942 non-null   object
 1   celly               1942 non-null   object
 2   celly 2             1942 non-null   object
 3   celly 3             1942 non-null   object
 4   celly 4             1912 non-null   object
 5   list-view-location  1942 non-null   object
 6   location            1942 non-null   object
 7   city                1942 non-null   object
dtypes: object(8)
memory usage: 121.5+ KB

In [88]:
df['district'] = df['list-view-location'].apply(lambda x: x.split('/')[1])
df['district'].head()

0      Sarıyer
1     Beşiktaş
2        Şişli
3       Kartal
4        Şişli
Name: district, dtype: object

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1942 entries, 0 to 1941
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   list-view-price     1942 non-null   object
 1   celly               1942 non-null   object
 2   celly 2             1942 non-null   object
 3   celly 3             1942 non-null   object
 4   celly 4             1912 non-null   object
 5   list-view-location  1942 non-null   object
 6   location            1942 non-null   object
 7   city                1942 non-null   object
 8   district            1942 non-null   object
dtypes: object(9)
memory usage: 136.7+ KB

In [90]:
df['neighborhood'] = df['list-view-location'].apply(lambda x: x.split('/')[2])
df['neighborhood'].head()

0     Rumeli Kavağı Mah.
1           Levazım Mah.
2          Gülbahar Mah.
3           Cevizli Mah.
4          Esentepe Mah.
Name: neighborhood, dtype: object

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1942 entries, 0 to 1941
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   list-view-price     1942 non-null   object
 1   celly               1942 non-null   object
 2   celly 2             1942 non-null   object
 3   celly 3             1942 non-null   object
 4   celly 4             1912 non-null   object
 5   list-view-location  1942 non-null   object
 6   location            1942 non-null   object
 7   city                1942 non-null   object
 8   district            1942 non-null   object
 9   neighborhood        1942 non-null   object
dtypes: object(10)
memory usage: 151.8+ KB

In [92]:
df.drop(['list-view-location','location'],axis=1,inplace=True)

In [93]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1942 entries, 0 to 1941
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  1942 non-null   object
 1   celly            1942 non-null   object
 2   celly 2          1942 non-null   object
 3   celly 3          1942 non-null   object
 4   celly 4          1912 non-null   object
 5   city             1942 non-null   object
 6   district         1942 non-null   object
 7   neighborhood     1942 non-null   object
dtypes: object(8)
memory usage: 121.5+ KB

,list-view-price,celly,celly 2,celly 3,celly 4,city,district,neighborhood
0,50.0,4 +\n 1,160 m²,49\n Yaşında,3. Kat,İstanbul,Sarıyer,Rumeli Kavağı Mah.
1,60.0,3 +\n 1,110 m²,40\n Yaşında,3. Kat,İstanbul,Beşiktaş,Levazım Mah.
2,22.0,2 +\n 1,90 m²,19\n Yaşında,3. Kat,İstanbul,Şişli,Gülbahar Mah.
3,35.0,1 +\n 1,85 m²,10\n Yaşında,12. Kat,İstanbul,Kartal,Cevizli Mah.
4,285.0,3 +\n 1,200 m²,14\n Yaşında,7. Kat,İstanbul,Şişli,Esentepe Mah.

In [94]:
print(df['celly'].unique())

['4 +\n                          1' '3 +\n                          1'
 '2 +\n                          1' '1 +\n                          1'
 '5 +\n                          1' '4 +\n                          0'
 '4 +\n                          2' '6 +\n                          2'
 '7 +\n                          2' '2 +\n                          2'
 '2 +\n                          0' '5 +\n                          2'
 'Stüdyo' '6 +\n                          1'
 '1 +\n                          2' '2 +\n                          7'
 '23 +\n                          1' '3 +\n                          3'
 '3 +\n                          2' '7 +\n                          1'
 '8 +\n                          1' '3 +\n                          0'
 '12 +\n                          9' '3 +\n                          4'
 '2 +\n                          10']

In [95]:
df['celly'] = df['celly'].apply(lambda x: x.replace('Stüdyo','1 + 0'))

In [96]:
df['celly'] = df['celly'].apply(lambda x: x.replace('\n',''))

In [97]:
df['room'] = df['celly'].apply(lambda x: x.split('+')[0]).astype(int)

In [98]:
df['living room'] = df['celly'].apply(lambda x: x.split('+')[1]).astype(int)

In [99]:
df.head()

,list-view-price,celly,celly 2,celly 3,celly 4,city,district,neighborhood,room,living room
0,50.0,4 + 1,160 m²,49\n Yaşında,3. Kat,İstanbul,Sarıyer,Rumeli Kavağı Mah.,4,1
1,60.0,3 + 1,110 m²,40\n Yaşında,3. Kat,İstanbul,Beşiktaş,Levazım Mah.,3,1
2,22.0,2 + 1,90 m²,19\n Yaşında,3. Kat,İstanbul,Şişli,Gülbahar Mah.,2,1
3,35.0,1 + 1,85 m²,10\n Yaşında,12. Kat,İstanbul,Kartal,Cevizli Mah.,1,1
4,285.0,3 + 1,200 m²,14\n Yaşında,7. Kat,İstanbul,Şişli,Esentepe Mah.,3,1

In [100]:
df['room'].unique()

array([ 4,  3,  2,  1,  5,  6,  7, 23,  8, 12])

In [101]:
df['living room'].unique()

array([ 1,  0,  2,  7,  3,  9,  4, 10])

In [102]:
df.drop(['celly'],axis=1,inplace=True)

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1942 entries, 0 to 1941
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  1942 non-null   object
 1   celly 2          1942 non-null   object
 2   celly 3          1942 non-null   object
 3   celly 4          1912 non-null   object
 4   city             1942 non-null   object
 5   district         1942 non-null   object
 6   neighborhood     1942 non-null   object
 7   room             1942 non-null   int32
 8   living room      1942 non-null   int32
dtypes: int32(2), object(7)
memory usage: 121.5+ KB

In [104]:
df['celly 2'].unique()

array(['160 m²', '110 m²', '90 m²', '85 m²', '200 m²', '82 m²', '140 m²',
       '180 m²', '150 m²', '385 m²', '172 m²', '4.125 m²', '230 m²',
       '350 m²', '315 m²', '220 m²', '234 m²', '950 m²', '700 m²',
       '120 m²', '145 m²', '70 m²', '580 m²', '400 m²', '270 m²',
       '119 m²', '226 m²', '75 m²', '54 m²', '60 m²', '80 m²', '130 m²',
       '95 m²', '50 m²', '57 m²', '63 m²', '46 m²', '105 m²', '133 m²',
       '250 m²', '115 m²', '186 m²', '300 m²', '330 m²', '55 m²', '93 m²',
       '135 m²', '25 m²', '280 m²', '175 m²', '190 m²', '366 m²',
       '165 m²', '124 m²', '103 m²', '65 m²', '78 m²', '58 m²', '48 m²',
       '100 m²', '125 m²', '77 m²', '102 m²', '67 m²', '195 m²', '170 m²',
       '53 m²', '240 m²', '68 m²', '118 m²', '45 m²', '174 m²', '128 m²',
       '88 m²', '83 m²', '112 m²', '132 m²', '218 m²', '73 m²', '108 m²',
       '71 m²', '89 m²', '72 m²', '215 m²', '325 m²', '76 m²', '79 m²',
       '74 m²', '98 m²', '127 m²', '51 m²', '81 m²', '94 m²', '208 m²',
       '113 m²', '197 m²', '256 m²', '114 m²', '129 m²', '117 m²',
       '87 m²', '156 m²', '44 m²', '56 m²', '225 m²', '69 m²', '275 m²',
       '155 m²', '210 m²', '84 m²', '173 m²', '138 m²', '66 m²', '107 m²',
       '178 m²', '152 m²', '96 m²', '163 m²', '151 m²', '434 m²',
       '775 m²', '126 m²', '182 m²', '380 m²', '185 m²', '47 m²',
       '340 m²', '285 m²', '360 m²', '64 m²', '222 m²', '40 m²', '310 m²',
       '62 m²', '193 m²', '1.212 m²', '122 m²', '148 m²', '86 m²',
       '35 m²', '116 m²', '32 m²', '20 m²', '154 m²', '42 m²', '91 m²',
       '97 m²', '159 m²'], dtype=object)

In [105]:
df['celly 2'] = df['celly 2'].apply(lambda x: x.replace('.',''))
df['area'] = df['celly 2'].apply(lambda x: x.split(' ')[0]).astype(int)

In [106]:
df['area'].unique()

array([ 160,  110,   90,   85,  200,   82,  140,  180,  150,  385,  172,
       4125,  230,  350,  315,  220,  234,  950,  700,  120,  145,   70,
        580,  400,  270,  119,  226,   75,   54,   60,   80,  130,   95,
         50,   57,   63,   46,  105,  133,  250,  115,  186,  300,  330,
         55,   93,  135,   25,  280,  175,  190,  366,  165,  124,  103,
         65,   78,   58,   48,  100,  125,   77,  102,   67,  195,  170,
         53,  240,   68,  118,   45,  174,  128,   88,   83,  112,  132,
        218,   73,  108,   71,   89,   72,  215,  325,   76,   79,   74,
         98,  127,   51,   81,   94,  208,  113,  197,  256,  114,  129,
        117,   87,  156,   44,   56,  225,   69,  275,  155,  210,   84,
        173,  138,   66,  107,  178,  152,   96,  163,  151,  434,  775,
        126,  182,  380,  185,   47,  340,  285,  360,   64,  222,   40,
        310,   62,  193, 1212,  122,  148,   86,   35,  116,   32,   20,
        154,   42,   91,   97,  159])

In [107]:
df.drop(['celly 2'],axis=1,inplace=True)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1942 entries, 0 to 1941
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  1942 non-null   object
 1   celly 3          1942 non-null   object
 2   celly 4          1912 non-null   object
 3   city             1942 non-null   object
 4   district         1942 non-null   object
 5   neighborhood     1942 non-null   object
 6   room             1942 non-null   int32
 7   living room      1942 non-null   int32
 8   area             1942 non-null   int32
dtypes: int32(3), object(6)
memory usage: 113.9+ KB

In [109]:
df['celly 3'].unique()

array(['49\n                        Yaşında',
       '40\n                        Yaşında',
       '19\n                        Yaşında',
       '10\n                        Yaşında',
       '14\n                        Yaşında',
       '8\n                        Yaşında',
       '16\n                        Yaşında',
       '15\n                        Yaşında',
       '30\n                        Yaşında',
       '6\n                        Yaşında',
       '57\n                        Yaşında',
       '1\n                        Yaşında',
       '56\n                        Yaşında',
       '60\n                        Yaşında',
       '2\n                        Yaşında', 'Sıfır Bina',
       '18\n                        Yaşında',
       '37\n                        Yaşında',
       '5\n                        Yaşında',
       '22\n                        Yaşında',
       '26\n                        Yaşında',
       '54\n                        Yaşında',
       '12\n                        Yaşında',
       '11\n                        Yaşında',
       '35\n                        Yaşında',
       '4\n                        Yaşında',
       '25\n                        Yaşında',
       '28\n                        Yaşında',
       '27\n                        Yaşında',
       '20\n                        Yaşında',
       '3\n                        Yaşında',
       '17\n                        Yaşında',
       '9\n                        Yaşında',
       '23\n                        Yaşında',
       '7\n                        Yaşında',
       '31\n                        Yaşında',
       '21\n                        Yaşında',
       '38\n                        Yaşında',
       '33\n                        Yaşında',
       '43\n                        Yaşında',
       '45\n                        Yaşında',
       '36\n                        Yaşında',
       '24\n                        Yaşında',
       '29\n                        Yaşında',
       '42\n                        Yaşında',
       '32\n                        Yaşında',
       '100\n                        Yaşında',
       '39\n                        Yaşında',
       '50\n                        Yaşında',
       '13\n                        Yaşında',
       '80\n                        Yaşında',
       '106\n                        Yaşında',
       '34\n                        Yaşında',
       '65\n                        Yaşında',
       '53\n                        Yaşında',
       '75\n                        Yaşında',
       '352\n                        Yaşında',
       '63\n                        Yaşında',
       '90\n                        Yaşında',
       '200\n                        Yaşında',
       '47\n                        Yaşında',
       '48\n                        Yaşında',
       '41\n                        Yaşında'], dtype=object)

In [110]:
df['celly 3'] = df['celly 3'].apply(lambda x: x.replace('Sıfır Bina','0 Yaşında'))
df['celly 3'] = df['celly 3'].apply(lambda x: x.replace('\n',' '))

In [111]:
df['age'] = df['celly 3'].apply(lambda x: x.split(' ')[0]).astype(int)

In [112]:
df['age'].unique()

array([ 49,  40,  19,  10,  14,   8,  16,  15,  30,   6,  57,   1,  56,
        60,   2,   0,  18,  37,   5,  22,  26,  54,  12,  11,  35,   4,
        25,  28,  27,  20,   3,  17,   9,  23,   7,  31,  21,  38,  33,
        43,  45,  36,  24,  29,  42,  32, 100,  39,  50,  13,  80, 106,
        34,  65,  53,  75, 352,  63,  90, 200,  47,  48,  41])

In [113]:
df.drop(['celly 3'],axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1942 entries, 0 to 1941
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  1942 non-null   object
 1   celly 4          1912 non-null   object
 2   city             1942 non-null   object
 3   district         1942 non-null   object
 4   neighborhood     1942 non-null   object
 5   room             1942 non-null   int32
 6   living room      1942 non-null   int32
 7   area             1942 non-null   int32
 8   age              1942 non-null   int32
dtypes: int32(4), object(5)
memory usage: 106.3+ KB

In [114]:
df['living room'].unique()

array([ 1,  0,  2,  7,  3,  9,  4, 10])

In [115]:
df['city'].unique()

array(['İstanbul ', 'Bursa '], dtype=object)

In [116]:
df['city'] = df['city'].str.strip()

In [117]:
bursa_indeksleri = df[df['city'] == 'Bursa'].index

In [118]:
df.drop(bursa_indeksleri,inplace=True)

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1923 entries, 0 to 1941
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  1923 non-null   object
 1   celly 4          1893 non-null   object
 2   city             1923 non-null   object
 3   district         1923 non-null   object
 4   neighborhood     1923 non-null   object
 5   room             1923 non-null   int32
 6   living room      1923 non-null   int32
 7   area             1923 non-null   int32
 8   age              1923 non-null   int32
dtypes: int32(4), object(5)
memory usage: 120.2+ KB

In [120]:
df['celly 4'].unique()

array(['3. Kat', '12. Kat', '7. Kat', '8. Kat', 'En Üst Kat', '2. Kat',
       '4. Kat', 'Ara Kat', nan, '1. Kat', '5. Kat', 'Bahçe Katı',
       'Villa Katı', '18. Kat', '9. Kat', '21 ve üzeri', 'Giriş Katı',
       'Kot 3', '6. Kat', 'Kot 1', '14. Kat', 'Yüksek Giriş', 'Zemin',
       'Kot 2', '10. Kat', 'Çatı Katı', 'Yarı Bodrum', '11. Kat',
       'Teras Katı', 'Bodrum ve Zemin', '15. Kat', '17. Kat', '13. Kat',
       '16. Kat', '20. Kat', 'Bodrum', '19. Kat'], dtype=object)

In [ ]:
replace_dict = {
    'Kot 3': '-3. Kat',
    'Kot 2': '-2. Kat',
    'Kot 1': '-1. Kat',
    'Yüksek Giriş': '1. Kat',
    'Ara Kat': '2. Kat',
    'En Üst Kat': '5. Kat',
    'Bahçe Katı': '0. Kat',
    'Yarı Bodrum': '0. Kat',
    'Bodrum': '0. Kat',
    'Çatı Katı': '5. Kat',
    'Zemin': '0. Kat',
    'Giriş Katı': '0. Kat',
    'Villa Katı': '0. Kat',
    '21 ve üzeri': '21. Kat',
    'Bodrum ve Zemin': '0. Kat',
    'Teras Katı': '5. Kat',
    'nan': '2. Kat',
}
df['celly 4'] = df['celly 4'].replace(replace_dict.keys(),replace_dict.values()).
df['celly 4'].dropna(inplace=True)

In [128]:
df['floor'] = df['celly 4'].apply(lambda x: x.split('.')[0]).astype(int)

AttributeError: 'float' object has no attribute 'split'